/.metadata/
/.recommenders/
/Arquitecturas Web/
/claseJDBC/
/Practico2-JPA/
/pruebaJUnit/
/RemoteSystemsTempFiles/
/Servers/
/TrabajoEspecial/.settings/
/TrabajoEspecial/.classpath/
/TrabajoEspecial/.project/
/TrabajoEspecial/derby.log/
/TrabajoEspecial/SistemaDeEquiposDB/
/TPE
/seleniumTest
